body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  margin: 0 auto;
  margin-top: 20px;
  border-collapse: collapse;
}

td {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.active {
  background-color: #3F51B5;
  color: white;
}

button {
  display: block;
  margin-top: 20px;
}
